
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html,body{
    font-family: 'Rubik', sans-serif;
   

}

/* ОБЩИЕ СТИЛИ */
.topText{
   
font-size: 28px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
margin-left: 30px;
text-decoration: none;
margin-top: 12px;

}
.buttonStyle{
    background: #7761FF;
border-radius: 5px;
border: #7761FF ;
height: 40px;
width: 150px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
margin-left: 20px;
color: white;

}
a {
  color: inherit;
 
}

* {
  box-sizing: border-box;
}
/* СТИЛИ НАВБАР */

.navbarstyle{
  background-color: #50CAFF;
  ;
  padding: 0%;
  height:57px;
  margin-left: 180px;
  margin-top: -10px;
}
.container-fluid{
  height:55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: none;

}

.navbarstyle ul{

    list-style-type: none;
    margin: 0;
    margin-left: 700px;
    padding: 0;
}
.navbarstyle li{
 
    float: left;
    display: block;
    padding: 21px 18px;
    text-decoration: none;
}





.iconStyle{
  
  
  height: 18px;
width: 18.000003814697266px;
left: 0px;
margin-top: -4px;
border-radius: 0px;




}
.textcolor{
  color: white;
  border-color: white;
  

}
.textcolor:hover {

  color: #fff;
  }
.textcolor:active {

      color: #fff;
      }
.profileStyle{
  height: 45.95919036865234px;
width: 45.918365478515625px;
margin-top: -12.5px;
border: 2px solid #fff ;
border-radius: 25px;


}

/* СТИЛИ БОКОВОЙ ПАНЕЛИ */

.sidenav {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #003B72;
  
  overflow-x: hidden;
  padding-top: 5px;
}

.sidenav a {
  text-decoration: none;
  padding-left: 20px;
  padding-top: 12px;
  
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;

  display: block;
}

.sidebarBlock{
  margin-bottom: 12px;
  height: 46px;
  align-content: center;
}
#topblock{
  height: 50px;
  margin-bottom: none;
  align-content: center
}
.sidebaricon{
  margin-top: none;
  margin-right: 14px;

}

#chosensection{
  background: #FCFCFC;
  
  
}
#chosentext{
  color: #7761FF;
  
}
.bottomElement{
  margin-top: 130%;}
  
#appveloxlogo{
  margin-left: 20px;
  margin-top:18px;
}

/* СТИЛИ БЛОКА ЭЛЕКТРОННАЯ КАРТА */

.cardblock{
  display: flex;
 flex-flow: wrap;

  min-width: 1096;

  flex-direction: row;
  align-items: center;
  margin-left: 210px;
  
}
.childBlock{
display: flex;
  height: 183px;
width: 540px;
box-shadow: 0px 0px 5px #EBE7FF;
border-radius: 5px;


}




.textasideimg{
  padding: 20px 20px 20px 6px;
  font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #000000;
text-decoration: none;


}
#miniicon1{
  height: 50px;
width: 39.63775634765625px;

border-radius: 0px;

transform: translate(-85px,-70px);

}
#miniicon2{
  height: 50px;
  width: 50px;
border-radius: 0px;

transform: translate(45px,-120px);

}
#miniicon3{
  height: 50px;
  width: 44.7265625px;


transform: translate(45px,-120px);

}
.textasidetop{
  font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
}
.titlecardblock{
  margin-left: 230px;
  text-decoration: none;
}

/* СТИЛИ БЛОКА ЗАПИСИ НА ПРИЕМ */
.buttonStyle2,.buttonStyle1{
  background: #7761FF;
border-radius: 5px;
border: #7761FF ;
height: 40px;
width: 98px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
margin-left: 20px;

margin-top: -50px;
color: white;

}
.containerconnect{

  margin-left: 210px;
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
 
}
.flexcontainer{
  display: flex;
  flex-direction: row;
}
.containerconnect2page{

  margin-left: 210px;
  display: flex;
  flex-direction: row;
 
}
.showappointmentblock button{
  float: right;
}

.connectblock{
  display: flex;
  flex-direction: row;
}
.bigblogtext{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
padding-top: 3px;
padding-left: 20px;

}
.bigblogtext2{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  
  padding-left: 20px;
}

.transparenttext{
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
margin-top: -10px;


color: #EBE7FF;

}
.miniblogtext{
  padding-left: 20px;
  
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
}
.showappointmentblock{
  width: 475px;
height: 194px;

background: #FFFFFF;
box-shadow: 0px 0px 5px #EBE7FF;
border-radius: 5px;
padding: 5px 20px 20px 20px;
margin-right: 40px;
}

.containerconnect button{
margin-right: 20px;
margin-top: -60px;}
.textnearimg p{
  padding-left: 0px;}
.textnearimg{
  padding-left: 90px;
  margin-top: -80px;
}
.textnearimg2{
  padding-left: 90px;
  margin-top: -80px;
}
.textnearimg2 p{
  padding-left: 0px;}

.doctorimg{
  padding-left: 20px;
}
#elseblock{
  align-self: center;
  padding-left: 20px;
}
#elseblock a{
  color: #50CAFF;
}
::-webkit-scrollbar {
  height: 8px;
  width: 10px;
  border-radius: 5px;
  background-color: #EBE7FF;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #003B72;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #003B72;
}

.slider__wrapper{
  display: flex;
  height: 60%;
  overflow: hidden;
  overflow-y: auto;
  
}



/* СТИЛИ КАЛЕНДАРЯ */
#componentcontainer{
  display: flex;
  flex-direction: row;
}
#calendarcontainer{
  padding-left: 100px;
  align-self: top;
}

.sdp {
  background-color:#EBE7FF !important ;
  width: max-content !important;
  height: max-content !important;
  --font: 'Rubik' !important;
}
.sdp--square-btn{
  height: 63px !important;
width: 79px !important;

border-radius: 0px !important;

}
.sdp {
  margin-top: 65px;
  --theme-color: #7761FF !important;
  --disabled-color:  rgba(0, 0, 0, 0.25) !important;
  
}
.sdp--square-btn__shadowed{
  border-radius: 0px !important;
  background-color: #7761FF !important;
  color: white;

}
.sdp--month-picker{
  background-color: #7761FF !important;
  color:white;
}